
{% if 'nba' in request.path and 'play-offs' in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "play-offs" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "play-offs" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "play-offs" %}">Tables</a>

{% elif 'nba' in request.path and "regular-season" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "regular-season" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "regular-season" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "regular-season" %}">Table</a>

{% elif 'nba' in request.path and "pre-season" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "pre-season" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "pre-season" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "pre-season" %}">Table</a>

{% elif 'nba' in request.path and "all-star-game" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "all-star-game" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "all-star-game" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "all-star-game" %}">Table</a>

{% elif 'nba' in request.path and "california-classic-summer-league" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "california-classic-summer-league" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "california-classic-summer-league" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "california-classic-summer-league" %}">Table</a>

{% elif 'nba' in request.path and "salt-lake-city-summer-league" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "salt-lake-city-summer-league" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "salt-lake-city-summer-league" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "salt-lake-city-summer-league" %}">Table</a>

{% elif 'nba' in request.path and "las-vegas-summer-league-play-off" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "las-vegas-summer-league-play-off" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "las-vegas-summer-league-play-off" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "las-vegas-summer-league-play-off" %}">Table</a>

{% elif 'nba' in request.path and "las-vegas-summer-league" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "las-vegas-summer-league" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "las-vegas-summer-league" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "las-vegas-summer-league" %}">Table</a>

{% elif 'nba' in request.path and "las-vegas-summer-league-placement-matches" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "nba" "las-vegas-summer-league-placement-matches" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "nba" "las-vegas-summer-league-placement-matches" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "nba" "las-vegas-summer-league-placement-matches" %}">Table</a>

{% elif 'ncaa' in request.path and "march-madness" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "ncaa" "march-madness" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "ncaa" "march-madness" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "ncaa" "march-madness" %}">Table</a>

{% elif 'ncaa' in request.path and "ncaa-men" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "ncaa" "ncaa-men" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "ncaa" "ncaa-men" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "ncaa" "ncaa-men" %}">Table</a>

{% elif 'ncaa' in request.path and "national-invitation-tournament" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "ncaa" "national-invitation-tournament" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "ncaa" "national-invitation-tournament" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "ncaa" "national-invitation-tournament" %}">Table</a>

{% elif 'euro-league' in request.path and "euroleague-play-off" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "euro-league" "euroleague-play-off" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "euro-league" "euroleague-play-off" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "euro-league" "euroleague-play-off" %}">Table</a>

{% elif 'euro-league' in request.path and "euroleague-regular-season" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "euro-league" "euroleague-regular-season" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "euro-league" "euroleague-regular-season" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "euro-league" "euroleague-regular-season" %}">Table</a>

{% elif 'eurobasket' in request.path and "play-off" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "play-off" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "play-off" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "play-off" %}">Table</a>

{% elif 'eurobasket' in request.path and "group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "group-a" %}">Table</a>

{% elif 'eurobasket' in request.path and "group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "group-b" %}">Table</a>

{% elif 'eurobasket' in request.path and "group-c" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "group-c" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "group-c" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "group-c" %}">Table</a>

{% elif 'eurobasket' in request.path and "group-d" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "group-d" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "group-d" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "group-d" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-a" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-b" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-c" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-c" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-c" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-c" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-d" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-d" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-d" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-d" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-e" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-e" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-e" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-e" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-f" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-f" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-f" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-f" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-g" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-g" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-g" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-g" %}">Table</a>

{% elif 'eurobasket' in request.path and "qualification-group-h" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket" "qualification-group-h" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket" "qualification-group-h" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket" "qualification-group-h" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "group-a" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "group-b" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "group-c" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "group-c" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "group-c" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "group-c" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "group-d" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "group-d" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "group-d" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "group-d" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-a" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-b" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-c" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-c" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-c" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-c" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-d" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-d" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-d" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-d" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-e" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-e" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-e" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-e" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-f" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-f" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-f" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-f" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-g" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-g" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-g" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-g" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-h" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-h" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-h" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-h" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-i" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-i" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-i" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-i" %}">Table</a>

{% elif 'eurobasket-women' in request.path and "qualification-group-j" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-women" "qualification-group-j" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-women" "qualification-group-j" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-women" "qualification-group-j" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-a-play-off" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-a-play-off" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-a-play-off" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-a-play-off" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-a-placement-matches" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-a-placement-matches" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-a-placement-matches" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-a-placement-matches" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-a-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-a-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-a-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-a-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-a-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-a-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-a-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-a-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-a-group-c" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-a-group-c" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-a-group-c" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-a-group-c" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-a-group-d" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-a-group-d" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-a-group-d" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-a-group-d" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-b-play-off" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-b-play-off" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-b-play-off" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-b-play-off" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-b-placement-matches" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-b-placement-matches" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-b-placement-matches" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-b-placement-matches" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-b-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-b-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-b-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-b-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-b-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-b-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-b-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-b-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-b-group-c" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-b-group-c" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-b-group-c" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-b-group-c" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-b-group-d" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-b-group-d" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-b-group-d" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-b-group-d" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-b-group-f" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-b-group-f" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-b-group-f" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-b-group-f" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-play-off" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-play-off" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-play-off" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-play-off" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-placement-matches" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-placement-matches" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-placement-matches" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-placement-matches" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'bnxt-league' in request.path and "bnxt-league-elite-gold" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "bnxt-league" "bnxt-league-elite-gold" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "bnxt-league" "bnxt-league-elite-gold" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "bnxt-league" "bnxt-league-elite-gold" %}">Table</a>

{% elif 'bnxt-league' in request.path and "bnxt-league-elite-silver" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "bnxt-league" "bnxt-league-elite-silver" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "bnxt-league" "bnxt-league-elite-silver" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "bnxt-league" "bnxt-league-elite-silver" %}">Table</a>

{% elif 'bnxt-league' in request.path and "domestic-belgium" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "bnxt-league" "domestic-belgium" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "bnxt-league" "domestic-belgium" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "bnxt-league" "domestic-belgium" %}">Table</a>

{% elif 'bnxt-league' in request.path and "domestic-netherlands" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "bnxt-league" "domestic-netherlands" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "bnxt-league" "domestic-netherlands" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "bnxt-league" "domestic-netherlands" %}">Table</a>

{% elif 'wnba' in request.path and "wnba-play-off" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "wnba" "wnba-play-off" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "wnba" "wnba-play-off" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "wnba" "wnba-play-off" %}">Table</a>

{% elif 'wnba' in request.path and "wnba-regular-season" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "wnba" "wnba-regular-season" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "wnba" "wnba-regular-season" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "wnba" "wnba-regular-season" %}">Table</a>

{% elif 'wnba' in request.path and "all-star-game" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "wnba" "all-star-game" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "wnba" "all-star-game" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "wnba" "all-star-game" %}">Table</a>

{% elif 'argentina' in request.path and "lnb" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "argentina" "lnb" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "argentina" "lnb" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "argentina" "lnb" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-a" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-a" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-a" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-a" %}">Table</a>

{% elif 'eurobasket-u18' in request.path and "division-c-group-b" in request.path %}

<a class="btn btn-info" href="{% url 'basketball_resultsByleague' "eurobasket-u18" "division-c-group-b" %}">Results</a>
<a class="btn btn-info" href="{% url 'basketball_fixturesByleague' "eurobasket-u18" "division-c-group-b" %}">Fixtures</a>
<a class="btn btn-info" href="{% url 'basketball_tablesByleague' "eurobasket-u18" "division-c-group-b" %}">Table</a>

{% endif %}
