
{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block content%}
    <body>
        

        <!-- layout-->
        <div id="layout">


            {% include 'basket_header.html'%}


            <!-- Section Title -->
            <div class="section-title" style="background:url({% static 'img/slide/1.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            {% if 'fixtures' in request.path %}
                            <h1><strong style="color: #01d099;">Fixtures</strong></h1>
                            {% elif 'results' in request.path %}
                            <h1><strong style="color: #01d099;">Results</strong></h1>
                            {% else %}
                            <h1><strong style="color: #01d099;">Tables</strong></h1>
                            {% endif %}
                            
                        </div>

                        <div class="col-md-4">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>Inner Page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->
            <style>
                .con{
                    margin-right: 190px; 
                    margin-left: 190px;
                    padding-top: 100px;
                }
                @media screen and (max-width: 991px) {
                    .con{
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                }
            </style>
            <!-- Section Area - Content Central -->
            <section class="content-info"  style="background-color: #222;">
                <div class="con">
                    <div class="container" >
                        <div class="row">
                            {% include "left_sidebar2.html" %}

                           
                            <div class="col-lg-6">
                                 <div class="col-12">
                                    {% include "basketball_leagues_button.html" %}
                                </div>
                                    {% if 'fixtures' in request.path %}
                                    
                                    <div class="recent-results " >   
                                        <div class="info-results"> 
                                            <ul class="cover">    
                                                <li>
                                                    <span class="head" style="color: #01d099;">
                                                        <a href="">
                                                            <img src="https://static.livescore.com/i2/fh/{{st.Ccd}}.jpg" alt=""> 
                                                        </a>
                                                        <strong><a href="">{{Competion_name}}</a><span class="date"></span></strong><br>
                                                        <span style="font-size: 10px;"></span>
                                                    </span>
                                                    {% for game in Fixtures %}
                                                    <div class="row" style="margin-left: 8px;">
                                                        <!--Match time here-->
                                                        <div class="col-1 score  test-con" style="font-size: 10px;">  
                                                            <span class="test">{{game.Eps}}</span>
                                                        </div>

                                                        <!--Match details here-->
                                                        <div class="col-9 score">
                                                            <div class="goals-result">
                                                                <a href="{% url 'singleResult' game.Eid %}">
                                                                    <img src="https://lsm-static-prod.livescore.com/medium/{{game.T1.0.Img}}" alt="">
                                                                    {{game.T1.0.Nm}}
                                                                </a>
                                                                {% if game.Tr1 %}
                                                                <span class="goals" >
                                                                    <b style="font-size: 10px;">{{game.Tr1}}</b>
                                                                </span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="goals-result">
                                                                <a href="{% url 'singleResult' game.Eid %}" >
                                                                    <img src="https://lsm-static-prod.livescore.com/medium/{{game.T2.0.Img}}" alt="">
                                                                    {{game.T2.0.Nm}}
                                                                </a>
                                                                <!--Scores-->
                                                                {% if game.Tr2 %}
                                                                <span class="goals" >
                                                                    <b style="font-size: 10px;">{{game.Tr2}}</b>  
                                                                </span>                              
                                                                {% endif %}
                                                            </div>
                                                            <hr style="border: 1px solid #121212;">
                                                        </div>

                                                        <!--Favourite icon here-->
                                                        <div class="col-1 score  test-con">
                                                            {% if liked %}
                                                            <a class="test" href="{% url 'liked' game.Eid %}" >{% fa5_icon 'star' color='red' %}</a>
                                                            {% else %}
                                                            <a class="test" href="{% url 'liked' game.Eid %}" >{% fa5_icon 'star' %}</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </li>  
                                            </ul>
                                        </div>
                                    </div>  

                                    {% elif 'results' in request.path %}

                                    <div class="recent-results " >   
                                        <div class="info-results"> 
                                            <ul class="cover">    
                                                <li>
                                                    <span class="head" style="color: #01d099;">
                                                        <a href="">
                                                            <img src="https://static.livescore.com/i2/fh/{{st.Ccd}}.jpg" alt=""> 
                                                        </a>
                                                        <strong><a href="">{{Competion_name}}</a><span class="date"></span></strong><br>
                                                        <span style="font-size: 10px;"></span>
                                                    </span>
                                                    {% for game in Results %}
                                                    <div class="row" style="margin-left: 8px;">
                                                        <!--Match time here-->
                                                        <div class="col-1 score  test-con" style="font-size: 10px;">  
                                                            <span class="test">{{game.Eps}}</span>
                                                        </div>

                                                        <!--Match details here-->
                                                        <div class="col-9 score">
                                                            <div class="goals-result">
                                                                <a href="{% url 'singleResult' game.Eid %}">
                                                                    <img src="https://lsm-static-prod.livescore.com/medium/{{game.T1.0.Img}}" alt="">
                                                                    {{game.T1.0.Nm}}
                                                                </a>
                                                                {% if game.Tr1 %}
                                                                <span class="goals" >
                                                                    <b style="font-size: 10px;">{{game.Tr1}}</b>
                                                                </span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="goals-result">
                                                                <a href="{% url 'singleResult' game.Eid %}" >
                                                                    <img src="https://lsm-static-prod.livescore.com/medium/{{game.T2.0.Img}}" alt="">
                                                                    {{game.T2.0.Nm}}
                                                                </a>
                                                                <!--Scores-->
                                                                {% if game.Tr2 %}
                                                                <span class="goals" >
                                                                    <b style="font-size: 10px;">{{game.Tr2}}</b>  
                                                                </span>                              
                                                                {% endif %}
                                                            </div>
                                                            <hr style="border: 1px solid #121212;">
                                                        </div>

                                                        <!--Favourite icon here-->
                                                        <div class="col-1 score  test-con">
                                                            {% if liked %}
                                                            <a class="test" href="{% url 'liked' game.Eid %}" >{% fa5_icon 'star' color='red' %}</a>
                                                            {% else %}
                                                            <a class="test" href="{% url 'liked' game.Eid %}" >{% fa5_icon 'star' %}</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </li>  
                                            </ul>
                                        </div>
                                    </div>  

                                    {% else %}
                                    {% include 'table-point.html' %}
                                    {% endif %}

                            </div>
                            {% include "home/right_sidebar.html" %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section Area -  Content Central -->

            <div class="instagram-btn">
                <div class="btn-instagram">
                    <i class="fa fa-instagram"></i>
                    FOLLOW
                    <a href="https://www.instagram.com/fifaworldcup/" target="_blank">&#64;fifaworldcup</a>
                </div>
            </div>

            <div class="content-instagram">
                <div id="instafeed"></div>
            </div>

        </div>
        <!-- End layout-->

        <!-- ======================= JQuery libs =========================== -->
        <!-- jQuery local-->
        <script type="text/javascript" src="assets/js/jquery.js"></script>
        <!-- popper.js-->
        <script type="text/javascript" src="assets/js/popper.min.js"></script>
        <!-- bootstrap.min.js-->
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <!-- required-scripts.js-->
        <script type="text/javascript" src="assets/js/theme-scripts.js"></script>
        <!-- theme-main.js-->
        <script type="text/javascript" src="assets/js/theme-main.js"></script>
        <!-- ======================= End JQuery libs =========================== -->

    </body>

{% endblock %}