{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}

{% block content%}
    <body>
        

        <!-- layout-->
        <div id="layout">

            {% include 'home/header.html'%}

            <!-- Section Title -->
            <div class="section-title" style="background:url({% static 'img/slide/1.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Favourite</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->
            <style>
                .con{
                    margin-right: 190px; 
                    margin-left: 190px;
                    padding-top: 100px;
                }
                @media screen and (max-width: 991px) {
                    .con{
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                }
            </style>
            <!-- Section Area - Content Central -->
            <section class="content-info" style="background-color: #222;">
                <div class="con">
                    <div class="container">
                        <div class="row">
                            {% include "home/left_sidebar.html" %}
    
                            <div class="col-lg-6">
                                {% for item in list_favoured %}
                                <div class="recent-results " >   
                                    <div class="info-results">
                                        <ul>    
                                            <li>
                                                <span class="head">
                                                    <a href="">
                                                        <img src="https://static.livescore.com/i2/fh/{{item.Stg.Ccd}}.jpg" alt=""> 
                                                    </a>
                                                    
                                                    <strong>{{item.Stg.Snm}}<span class="date"></span></strong><br>
                                                    <span style="font-size: 10px;">{{item.Stg.Cnm}}</span>
                                                    
                                                </span>
                                                <div class="row" style="margin-left: 8px;">
                                                    <!--Match time here-->
                                                    <div class="col-1 score  test-con" style="font-size: 10px;">  
                                                        <span class="test">{{item.Eps}}</span>
                                                    </div>
    
                                                    <!--Match details here-->
                                                    <div class="col-9 score">
                                                        <div class="goals-result">
                                                            <a href="{% url 'singleResult' item.Eid %}">
                                                                <img src="https://lsm-static-prod.livescore.com/medium/{{item.T1.0.Img}}" alt="">
                                                                {{item.T1.0.Nm}}
                                                            </a>
                                                            {% if item.Tr1 %}
                                                            <span class="goals" >
                                                                <b style="font-size: 10px;">{{item.Tr1}}</b>
                                                            </span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="goals-result">
                                                            <a href="{% url 'singleResult' item.Eid %}" >
                                                                <img src="https://lsm-static-prod.livescore.com/medium/{{item.T2.0.Img}}" alt="">
                                                                {{item.T2.0.Nm}}
                                                            </a>
                                                            <!--Scores-->
                                                            {% if item.Tr2 %}
                                                            <span class="goals" >
                                                                <b style="font-size: 10px;">{{item.Tr2}}</b>  
                                                            </span>                              
                                                            {% endif %}
                                                        </div>
                                                        <hr style="border: 1px solid #121212;">
                                                    </div>
    
                                                    <!--Favourite icon here-->
                                                    <div class="col-1 score  test-con">
                                                        <a class="test" href="{% url 'liked' item.Eid %}" >{% fa5_icon 'star' color='red' %}</a>
                                                    </div>
                                                </div>

                                                <!--Old design-->
                                                {% comment %} <div class="goals-result">
                                                    
                                                    <a href="{% url 'singleResult' item.Eid %}" style="width: 150px;">
                                                        <img src="https://lsm-static-prod.livescore.com/medium/{{item.T1.0.Img}}" alt="">
                                                        {{item.T1.0.Nm}}
                                                    </a>
                                                
                                                    <span class="goals" >
                                                        <b>{{item.Tr1}}</b> <b>{{item.Tr2}}</b>
                                                        
                                                    </span>
    
                                                    <a href="{% url 'singleResult' item.Eid %}"  style="width: 150px;">
                                                        <img src="https://lsm-static-prod.livescore.com/medium/{{item.T2.0.Img}}" alt="">
                                                        {{item.T2.0.Nm}}
                                                    </a>
                                                   
                                                    <a href="{% url 'liked' item.Eid %}" >{% fa5_icon 'star' color='red' %}</a>
    
                                                </div>         {% endcomment %}
                                            </li> 
                                        </ul>
                                    </div>
                               </div>  
                               {% endfor %}
                            </div>
                            {% include "home/right_sidebar.html" %}
                        </div>
                    </div>
                </div>
                

            </section>
            <!-- End Section Area -  Content Central -->

            <div class="instagram-btn">
                <div class="btn-instagram">
                    <i class="fa fa-instagram"></i>
                    FOLLOW
                    <a href="https://www.instagram.com/fifaworldcup/" target="_blank">&#64;fifaworldcup</a>
                </div>
            </div>

            <div class="content-instagram">
                <div id="instafeed"></div>
            </div>

        </div>
        

    </body>
{% endblock %}