

<nav class="new-nav" style="background-color: #222;">
    <style>
        .ul,
        .new-nav {
            width: 100%;
        }
        
        .ul {
            display: flex;
            gap: 15px;
            overflow-x: scroll;
        }
        
        .ul li {
            list-style: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
        
        .ul-down {
            display: none;
            position: absolute;
            top: 50px;
        }
        
        .ul-down li {
            cursor: pointer;
            width: 200px;
            border: 1px grey;
        }
        
        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

    <ul class="ul">
        <li>
            <p>England</p>
            <ul class="ul-down">
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "premier-league" %}" style="font-size:14px;">Premier League</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "championship" %}" style="font-size:14px;">Championship</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "league-1" %}" style="font-size:14px;">League 1</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "league-2" %}" style="font-size:14px;">League 2</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "efl-cup" %}" style="font-size:14px;">EFL cup</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "fa-cup" %}" style="font-size:14px;">FA cup</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "national-league" %}" style="font-size:14px;">National League</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "national-league-north" %}" style="font-size:14px;">National League North</a></li>
                <li><a class="dropdown-item" href="{% url 'resultsByleague' "england" "national-league-south" %}" style="font-size:14px;">National League South</a></li>
            </ul>
        </li>
        <li>
            <p>Spain</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "spain" "laliga-santander" %}" style="font-size:14px;">La liga</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "spain" "copa-del-rey-final" %}" style="font-size:14px;">Copa Del Rey Final</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "spain" "copa-del-rey-semi-final" %}" style="font-size:14px;">Copa Del Rey Semi-Final</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "spain" "copa-del-rey-quarter-final" %}" style="font-size:14px;">Copa Del Rey Quarter-Final</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "spain" "super-cup" %}" style="font-size:14px;">Super cup</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "spain" "primera-division-rfef-group-1" %}" style="font-size:14px;">Primera Division Group 1</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "spain" "primera-division-rfef-group-2" %}" style="font-size:14px;">Primera Division Group 2</a>
                </li>
                
            </ul>
        </li>
        <li>
            <p>Italy</p>

            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "italy" "seria-a" %}" style="font-size:14px;">Seria A</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "italy" "seria-b" %}" style="font-size:14px;">Seria B</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "italy" "seria-c-group-a" %}" style="font-size:14px;">Seria C Group A</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "italy" "seria-c-group-b" %}" style="font-size:14px;">Seria C Group B</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "italy" "seria-c-group-c" %}" style="font-size:14px;">Seria C Group C</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "italy" "super-cup" %}" style="font-size:14px;">Super Cup</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "italy" "coppa-italia-final" %}" style="font-size:14px;">Coppa Italia</a>
                </li>
            </ul>
        </li>
        <li>
            <p>Germany</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "germany" "bundesliga" %}" style="font-size:14px;">Bundesliga</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "germany" "2-bundesliga" %}" style="font-size:14px;">2 Bundesliga</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "germany" "3-liga" %}" style="font-size:14px;">3 Liga</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "germany" "dfl-super-cup" %}" style="font-size:14px;">DFL Super cup</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "germany" "dfb-cup" %}" style="font-size:14px;">DFB cup</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "germany" "regionalliga-bayern" %}" style="font-size:14px;">Regionalliga Bayern</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'resultsByleague' "germany" "regionalliga-nord" %}" style="font-size:14px;">Regionalliga Nord</a>
                </li>
                
            </ul>

        </li>
        <li>
            <p>France</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "france" "ligue-1" %}" style="font-size:14px;">Ligue 1</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "france" "ligue-2" %}" style="font-size:14px;">Ligue 2</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "france" "coupe-de-france" %}" style="font-size:14px;">Coupe De France</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "france" "championat-national" %}" style="font-size:14px;">Championat National</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'resultsByleague' "france" "womens-division-1" %}" style="font-size:14px;">Women's Division 1</a>
                </li>
               
            </ul>
        </li>
        <li>
            <p>Netherlands</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "holland" "eredivisie" %}" style="font-size:14px;">Eredivisie</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "holland" "eerste-divisie" %}" style="font-size:14px;">Eerste Divisie</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "holland" "super-cup" %}" style="font-size:14px;">Super cup</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'resultsByleague' "holland" "tweede-divisie" %}" style="font-size:14px;">Tweede Divisie</a>
                </li>
                
            </ul>
        </li>
        <li>
            <p>Scotland</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'basketball_resultsByleague' "bnxt-league" "bnxt-league-elite-gold" %}" style="font-size:14px;">Elite Gold</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "scotland" "premiership" %}" style="font-size:14px;">Premiership</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "scotland" "championship" %}" style="font-size:14px;">Championship</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "scotland" "league-1" %}" style="font-size:14px;">League 1</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "scotland" "league-2" %}" style="font-size:14px;">League 2</a>    
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "scotland" "scottish-cup" %}" style="font-size:14px;">Scottish cup</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "scotland" "challenge-cup" %}" style="font-size:14px;">Challenge cup</a>
                </li>
            </ul>
        </li>
        <li>
            <p>Denmark</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "denmark" "superliga" %}" style="font-size:14px;">Superliga</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'resultsByleague' "denmark" "1-division" %}" style="font-size:14px;">1st Division</a>
                </li>
                
            </ul>
        </li>
        <li>
            <p>Austria</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "austria" "bundesliga" %}" style="font-size:14px;">Bundesliga</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'resultsByleague' "austria" "2-liga" %}" style="font-size:14px;">2 Liga</a>
                </li>
            </ul>
        </li>
        <li>
            <p>Czech Republic</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "czech-republic" "1-league" %}" style="font-size:14px;">1st League</a>   
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "czech-republic" "2-league" %}" style="font-size:14px;">2nd League</a>
                </li>
            </ul>
        </li>
        <li>
            <p>Croatia</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "croatia" "hnl" %}" style="font-size:14px;">HNL</a>               
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "croatia" "prva-nl" %}" style="font-size:14px;">Prva NL</a>
                </li>
            </ul>
        </li>
        <li>
            <p>Cyprus</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "cyprus" "1-divisie" %}" style="font-size:14px;">1st Divisie</a>              
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "cyprus" "2-divisie" %}" style="font-size:14px;">2nd Division</a>
                </li>
            </ul>
        </li>
        <li>
            <p>Egypt</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "egypt" "premier-league" %}" style="font-size:14px;">Premier League</a>
                </li>
               
            </ul>
        </li>
        <li>
            <p>Nigeria</p>
            <ul class="ul-down">
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "nigeria" "npfl-group-a" %}" style="font-size:14px;">NPFL Group A</a>            
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'resultsByleague' "nigeria" "npfl-group-b" %}" style="font-size:14px;">NPFL Group B</a>
                </li>
            </ul>
        </li>
       
        
    </ul>
    <script>
        const li = document.querySelectorAll(".ul li p")
        const ul = document.querySelector(".ul")
        const overlay = document.querySelector(".overlay")
        const drop = document.querySelectorAll(".ul-down")
        const items = document.querySelectorAll(".ul-down li")

        for (let i = 0; i < li.length; i++) {
            drop.forEach(x => x.style.display = 'none');
            li[i].addEventListener('click', () => {
                if (drop[i].style.display === 'block') {
                    drop.forEach(x => x.style.display = 'none');
                    drop[i].style.display = 'none';
                    ul.style.height = '50px'
                } else {
                    drop.forEach(x => x.style.display = 'none');
                    drop[i].style.display = 'block';
                    //console.log(drop[i].clientHeight, drop[i].height)
                    ul.style.height = `${drop[i].clientHeight + 70}px`
                }
            })
        }
        overlay.addEventListener('click', () => {
            drop.forEach(x => x.style.display = 'none');
            //drop[i].style.display = 'none';
            ul.style.height = '50px'
        })
        for (let i = 0; i < items.length; i++) {
            items[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
            })
        }
    </script>
</nav>

