{% load static %}
<style>
    .dropdown a{
        font-family:Roboto,Arial,sans-serif ; 
        font-size:12px; 
        color: greenyellow;
        color: aquamarine;
    }
    .dropdown-item{
        font-size: 11px !important;
    }
    .dropdown-menu{
        background-color: #121212 !important;
    }
    .test-con{
        position: relative;
    }
    .test{
        position: absolute;
        top: 32px;
    }
    .info-results{
        background-color: #222 !important;
    }
    .cover{
        margin: 0px !important;
        padding: 0px !important;
    }
    .score{
        background-color: rgb(34, 34, 34);
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .cimage{
        width: 20px;
        height: 12px;
    }
    .goals-result{
        padding: 8px !important;
        cursor: pointer;
    }
    .goals-result:hover{
        background-color: #555555 !important;
    }
    .goals-result a{
        font-family:Roboto,Arial,sans-serif !important; 
        color: aquamarine !important;
    }
    .side{
        display: block;
        border: 1px solid #555555;
    }
    @media screen and (max-width: 991px) {
        .side{
            display: none;
        }
    }
    @media screen and (min-width: 991px) {
        .side1{
            display: none;
        }
    }
</style> 
<div class="col-lg-12 side1" >
   <div style="border: 1px solid white;">
       {% include "competions_navbar.html" %}
   </div>
</div>

<div class="col-lg-2 side" style="background-color: #222;">
    <!-- Point Table -->
    {% comment %} <div class="panel-box">

        <div class="titles no-margin border-0">
            <h4>Premier League Table</h4>
        </div>

        <table class="table-striped table-responsive table-hover result-point small">
            <thead class="point-table-head">
                <tr>
                    <th class="text-left">No</th>
                    <th class="text-left">TEAM</th>
                    <th class="text-center">P</th>
                    <th class="text-center">W</th>
                    <th class="text-center">D</th>
                    <th class="text-center">PTS</th>
                </tr>
            </thead>

            <tbody class="text-center">
                {% for stage in stages %}
                    {% for row in stage.LeagueTable.L.0.Tables %}
                        {% if row.LTT == 1 %}
                            {% for team in row.team %}
                                <tr>
                                    <td class="text-left number">
                                        {{team.rnk}}
                                        {% if team.rnk <= 4 %}
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                        {% endif %}  
                                    </td>
                                    <td class="text-left">
                                    <a href="single-team.html">
                                            <img src="https://lsm-static-prod.livescore.com/medium/{{team.Img}}" alt="Colombia"><span>{{team.Tnm}}</span>
                                        </a>
                                    </td>
                                    <td>{{team.pld}}</td>
                                    <td>{{team.win}}</td>
                                    <td>{{team.drw}}</td>
                                    <td>{{team.pts}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

              </tbody>
        </table>
         <a href="table-point.html" class="btn-iw full no-margin">View Full Table</a>
    </div> {% endcomment %}
    <!-- End Point Table -->
    <div style="background-color: #222;">
        <input type="text" id="searchInput" placeholder="Search" >
        <ul class="navbar-nav mr-auto" id='navlist'>
            {% comment %} <li class="nav-item active">
                <a class="nav-link" href="\">Home <span class="sr-only">(current)</span></a>
            </li> {% endcomment %}
  
           <!--Champions League-->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="cimage" src="https://static.livescore.com/i2/fh/champions-league.jpg" alt="">
                champions League
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-a" %}" style="font-size:14px;">Group A</a>
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-b" %}" style="font-size:14px;">Group B</a>
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-c" %}" style="font-size:14px;">Group C</a>
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-d" %}" style="font-size:14px;">Group D</a>
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-e" %}" style="font-size:14px;">Group E</a>
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-f" %}" style="font-size:14px;">Group F</a>
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-g" %}" style="font-size:14px;">Group G</a>
                <a class="dropdown-item" href="{% url 'resultsBycompetion' "champions-league" "group-h" %}" style="font-size:14px;">Group H</a>
            </div>
        </li>
        
         <!--Europa League-->
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="cimage" src="https://static.livescore.com/i2/fh/europa-league.jpg" alt="">
              Europa League
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-a" %}" style="font-size:14px;">Group A</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-b" %}" style="font-size:14px;">Group B</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-c" %}" style="font-size:14px;">Group C</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-d" %}" style="font-size:14px;">Group D</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-e" %}" style="font-size:14px;">Group E</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-f" %}" style="font-size:14px;">Group F</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-g" %}" style="font-size:14px;">Group G</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "europa-league" "group-h" %}" style="font-size:14px;">Group H</a>
          </div>
        </li>

        <!--African Nations Championship-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="cimage" src="https://static.livescore.com/i2/fh/african-nations-chamionship.jpg" alt="">
              African Nations Championship
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-a" %}" style="font-size:14px;">Group A</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-b" %}" style="font-size:14px;">Group B</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-c" %}" style="font-size:14px;">Group C</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-d" %}" style="font-size:14px;">Group D</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-e" %}" style="font-size:14px;">Group E</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-f" %}" style="font-size:14px;">Group F</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-g" %}" style="font-size:14px;">Group G</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "african-nations-championship" "group-h" %}" style="font-size:14px;">Group H</a>
          </div>
        </li>

        <!--Copa America-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="cimage" src="https://static.livescore.com/i2/fh/copa-america.jpg" alt="">
              Copa America
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "copa-america" "group-a" %}" style="font-size:14px;">Group A</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "copa-america" "quarter-finals" %}" style="font-size:14px;">Quarter Finals</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "copa-america" "semi-finals" %}" style="font-size:14px;">Semi Finals</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "copa-america" "third-place-play-off" %}" style="font-size:14px;">Third Place Play off</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "copa-america" "final" %}" style="font-size:14px;">Final</a>
          </div>
        </li>

        <!--African Cup of Nations-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="cimage" src="https://static.livescore.com/i2/fh/africa-cup-of-nations.jpg" alt="">
              African Cup of Nations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-a" %}" style="font-size:14px;">Group A</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-b" %}" style="font-size:14px;">Group B</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-c" %}" style="font-size:14px;">Group C</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-d" %}" style="font-size:14px;">Group D</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-e" %}" style="font-size:14px;">Group E</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-f" %}" style="font-size:14px;">Group F</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-g" %}" style="font-size:14px;">Group G</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-h" %}" style="font-size:14px;">Group H</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-i" %}" style="font-size:14px;">Group I</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-j" %}" style="font-size:14px;">Group J</a>
            <a class="dropdown-item" href="{% url 'resultsBycompetion' "africa-cup-of-nations-qualification" "qualification-group-k" %}" style="font-size:14px;">Group K</a>
          </div>
        </li>

        <!--CONCACAF Nations-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="cimage" src="https://static.livescore.com/i2/fh/concacaf-nations.jpg" alt="">
              CONCACAF Nations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-1" %}" style="font-size:14px;">League A Group 1</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-2" %}" style="font-size:14px;">League A Group 2</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-3" %}" style="font-size:14px;">League A Group 3</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-a-group-4" %}" style="font-size:14px;">League A Group 4</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-1" %}" style="font-size:14px;">League B Group 1</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-2" %}" style="font-size:14px;">League B Group 2</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-3" %}" style="font-size:14px;">League B Group 3</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-b-group-4" %}" style="font-size:14px;">League B Group 4</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-1" %}" style="font-size:14px;">League C Group 1</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-2" %}" style="font-size:14px;">League C Group 2</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-3" %}" style="font-size:14px;">League C Group 3</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "league-c-group-4" %}" style="font-size:14px;">League C Group 4</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "semi-finals" %}" style="font-size:14px;">Semi Finals</a>
              <a class="dropdown-item" href="{% url 'resultsBycompetion' "concacaf-nations-league" "finals" %}" style="font-size:14px;">Final</a>
          </div>
        </li>

        </ul>
    </div>
</div>


<script>
    function searchList() {
        // Retrieve the search keyword
        var input = document.getElementById('searchInput');
        var filter = input.value.toUpperCase();
        
        // Retrieve the unordered list and list items
        var ul = document.getElementById('navlist');
        var li = ul.getElementsByTagName('li');
        
        // Loop through all list items and hide those that don't match the search query
        for (var i = 0; i < li.length; i++) {
            var item = li[i];
            var textValue = item.textContent || item.innerText;
        
            if (textValue.toUpperCase().indexOf(filter) > -1) {
            item.style.display = '';
            } else {
            item.style.display = 'none';
            }
        }
        }
        
        // Attach an event listener to the search input
        var input = document.getElementById('searchInput');
        input.addEventListener('input', searchList);
</script>  