{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}

{% block content%}
    <body>
        

        <!-- layout-->
        <div id="layout">


            {% include 'home/header.html'%}


            <!-- Section Title -->
            <div class="section-title" style="background:url({% static 'img/slide/1.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Live</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->
            <style>
                .con{
                    margin-right: 190px; 
                    margin-left: 190px;
                    padding-top: 100px;
                }
                @media screen and (max-width: 991px) {
                    .con{
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                }
            </style>
            <!-- Section Area - Content Central -->
            <section class="content-info" style="background-color: #222;">
                <div class="con">
                    <div class="container">
                        <div class="row">
                            {% include "home/left_sidebar.html" %}
    
                            <div class="col-lg-6">
                                {% for st in stages %} 
                                <div class="recent-results " >   
                                    <div class="info-results">
                                        <ul class="cover">
                                            <li>
                                                <span class="head">
                                                    <a href="{% url 'fixturesByleague' st.Ccd st.Scd %}">
                                                        <img src="https://static.livescore.com/i2/fh/{{st.Ccd}}.jpg" alt=""> 
                                                    </a>
                                                    <strong><a href="{% url 'fixturesByleague' st.Ccd st.Scd %}">{{st.Snm}}</a><span class="date"></span></strong><br>
                                                    <span style="font-size: 10px;">{{st.Cnm}}</span>
                                                </span>
                                            
                                                {% for game in st.Events %}
                                                <div class="row" style="margin-left: 8px;">
                                                    <!--Match time here-->
                                                    <div class="col-1 score  test-con" style="font-size: 10px;">  
                                                        <span class="test">{{st.Events.0.Eps}}</span>
                                                    </div>
    
                                                    <!--Match details here-->
                                                    <div class="col-9 score">
                                                        <div class="goals-result">
                                                            <a href="{% url 'singleResult' game.Eid %}">
                                                                <img src="https://lsm-static-prod.livescore.com/medium/{{game.T1.0.Img}}" alt="">
                                                                {{game.T1.0.Nm}}
                                                            </a>
                                                            {% if game.Tr1 %}
                                                            <span class="goals" >
                                                                <b style="font-size: 10px;">{{game.Tr1}}</b>
                                                            </span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="goals-result">
                                                            <a href="{% url 'singleResult' game.Eid %}" >
                                                                <img src="https://lsm-static-prod.livescore.com/medium/{{game.T2.0.Img}}" alt="">
                                                                {{game.T2.0.Nm}}
                                                            </a>
                                                            <!--Scores-->
                                                            {% if game.Tr2 %}
                                                            <span class="goals" >
                                                                <b style="font-size: 10px;">{{game.Tr2}}</b>  
                                                            </span>                              
                                                            {% endif %}
                                                        </div>
                                                        <hr style="border: 1px solid #121212;">
                                                    </div>
    
                                                    <!--Favourite icon here-->
                                                    <div class="col-1 score  test-con">
                                                        {% if liked %}
                                                        <a class="test" href="{% url 'liked' game.Eid %}" >{% fa5_icon 'star' color='red' %}</a>
                                                        {% else %}
                                                        <a class="test" href="{% url 'liked' game.Eid %}" >{% fa5_icon 'star' %}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </li>
                                            
                                        </ul>
                                        
                                    </div>
                                </div>   
                               {% endfor %}
                            </div>
                            {% include "home/right_sidebar.html" %}
                        </div>
                    </div>
                </div>
               

               
            </section>
            <!-- End Section Area -  Content Central -->

            <div class="instagram-btn">
                <div class="btn-instagram">
                    <i class="fa fa-instagram"></i>
                    FOLLOW
                    <a href="https://www.instagram.com/fifaworldcup/" target="_blank">&#64;fifaworldcup</a>
                </div>
            </div>

            <div class="content-instagram">
                <div id="instafeed"></div>
            </div>

        </div>
        

    </body>
{% endblock %}