{% extends 'base.html' %}
{% load static %}

        <!-- layout-->
        {% block content%}

        <div id="layout">

            <!-- Header-->
            {% include 'header.html'%}
            <!-- Header end-->
            

            <!-- Section Area - Content Central -->
            <section class="content-info">
                <!-- White Section -->
                <div class="paddings" style="background:url({% static 'img/slide/1.jpg' %}); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100vh; ">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4">
                                <!-- Point Table -->
                                <div class="panel-box">

                                    <div class="titles no-margin border-0">
                                        <h4>Premier League Table</h4>
                                    </div>

                                    <table class="table-striped table-responsive table-hover result-point small">
                                        <thead class="point-table-head">
                                            <tr>
                                                <th class="text-left">No</th>
                                                <th class="text-left">TEAM</th>
                                                <th class="text-center">P</th>
                                                <th class="text-center">W</th>
                                                <th class="text-center">D</th>
                                                <th class="text-center">PTS</th>
                                            </tr>
                                        </thead>

                                        <tbody class="text-center">
                                            {% for stage in stages %}
                                                {% for row in stage.LeagueTable.L.0.Tables %}
                                                    {% if row.LTT == 1 %}
                                                        {% for team in row.team %}
                                                            <tr>
                                                                <td class="text-left number">
                                                                    {{team.rnk}}

                                                                    {% if team.rnk <= 4 %}
                                                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    
                                                                </td>
                                                                <td class="text-left">
                                                                <a href="#">
                                                                        <img src="https://lsm-static-prod.livescore.com/medium/{{team.Img}}" alt="{{team.Tnm}}"><span>{{team.Tnm}}</span>
                                                                    </a>
                                                                </td>
                                                                <td>{{team.pld}}</td>
                                                                <td>{{team.win}}</td>
                                                                <td>{{team.drw}}</td>
                                                                <td>{{team.pts}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}

                                          </tbody>
                                    </table>
                                     <a href="{% url 'tablesByleague' "england" "premier-league" %}" class="btn-iw full no-margin">View Full Table</a>
                                </div>
                                <!-- End Point Table -->

                                <!-- Video presentation -->
                                <div class="panel-box">
                                    <div class="titles no-margin">
                                        <h4>Presentation</h4>
                                    </div>
                                    <!-- Locations Video -->
                                    <div class="row">
                                        <iframe src="https://www.youtube.com/embed/AfOlAUd7u4o" class="video"></iframe>
                                        <div class="info-panel">
                                            <h4>Rio de Janeiro</h4>
                                            <p>Lorem ipsum dolor sit amet, sit amet, consectetur adipisicing elit, elit, incididunt ut labore et dolore magna aliqua sit amet, consectetur adipisicing elit,</p>
                                        </div>
                                    </div>
                                    <!-- End Locations Video -->
                                </div>
                                <!-- End Video presentation-->
                            </div>

                             <!-- Section Area - Content Central -->
                             <div class="col-lg-8">
                                <section class="content-info">

                                    <div class="container">
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <table class="table-striped table-responsive table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Team A</th>
                                                            <th class="text-center">VS</th>
                                                            <th>Team B</th>
                                                            <th>Details</th>
                                                        </tr>
                                                    </thead>
                                                    {% for st in today_data %}

                                                    
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="{% url 'fixturesByleague' st.Ccd st.Scd %}">{{st.Snm}}</a>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        {% for game in st.Events %}
                                                        <tr>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <img src="https://lsm-static-prod.livescore.com/medium/{{game.T1.0.Img}}" alt="icon">
                                                                        <strong>{{game.T1.0.Nm}}</strong><br>
                                                                        <small class="meta-text">{% if st.CompN %} {{st.CompN}} {% else %} {{st.Snm}} {% endif %}</small></small>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                       
                                                                        <strong class="float-sm-right">{{game.Tr1}}</strong><br>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">Vs</td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-lg-3">
                                                                       
                                                                        <strong >{{game.Tr2}}</strong><br>
                                                                        
                                                                    </div>
                                                                    <div class="col-lg-9 float-sm-right">
                                                                        <img src="https://lsm-static-prod.livescore.com/medium/{{game.T2.0.Img}}" alt="icon1">
                                                                        <strong>{{game.T2.0.Nm}}</strong><br>
                                                                        <small class="meta-text">{% if st.CompN %} {{st.CompN}} {% else %} {{st.Snm}} {% endif %}</small> 
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{game.Esd}}<br>
                                                                <small class="meta-text">{{game.Eps}}</small>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    {% endfor %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!-- End Section Area -  Content Central -->
                        </div>
                    </div>
                </div>
                <!-- End White Section -->

                
            </section>
            <!-- End Section Area -  Content Central -->

            <!-- footer-->
            {% include 'footer.html'%}
            <!-- End footer-->
        </div>

        {% endblock %}
        <!-- End layout-->




