{% extends 'base.html' %}
{% load static %}



{% load bootstrap5 %}



   
        <!-- layout-->
        {% block content%}

        <div id="layout">

            <!-- Header-->
            {% include 'header.html'%}
            <!-- Header end-->
           

            <!-- Section Area - Content Central -->
            <section class="content-info">
                <!-- White Section -->
                <div class="paddings">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4">
                                <!-- Point Table -->
                                <div class="panel-box">

                                    <div class="titles no-margin border-0">
                                        <h4>Points Table</h4>
                                    </div>

                                    <table class="table-striped table-responsive table-hover result-point small">
                                        <thead class="point-table-head">
                                            <tr>
                                                <th class="text-left">No</th>
                                                <th class="text-left">TEAM</th>
                                                <th class="text-center">P</th>
                                                <th class="text-center">W</th>
                                                <th class="text-center">D</th>
                                                <th class="text-center">PTS</th>
                                            </tr>
                                        </thead>

                                        <tbody class="text-center">

                                            {% for stage in stages %}
                                                {% for row in stage.LeagueTable.L.0.Tables %}
                                                    {% if row.LTT == 1 %}
                                                        {% for team in row.team %}
                                                            <tr>
                                                                <td class="text-left number">
                                                                    {{team.rnk}}
                                                                    {% comment %} {% if %}
                                                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                    {% endif %} {% endcomment %}
                                                                    
                                                                </td>
                                                                <td class="text-left">
                                                                <a href="single-team.html">
                                                                        <img src="https://lsm-static-prod.livescore.com/medium/{{team.Img}}" alt="Colombia"><span>{{team.Tnm}}</span>
                                                                    </a>
                                                                </td>
                                                                <td>{{team.pld}}</td>
                                                                <td>{{team.win}}</td>
                                                                <td>{{team.drw}}</td>
                                                                <td>{{team.pts}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}

                                            <form method="GET" action="{% url 'soccer' %}">
                                                {% csrf_token %}
                                                <input type="date" name="date">
                                                <button type="submit">Submit</button>
                                            </form>
                                            <h1>
                                                {{data_param}}
                                            </h1>
                                            <tr>
                                                <td class="text-left number">1 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img src="img/clubs-logos/colombia.png" alt="Colombia"><span>Colombia</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>26</td>
                                                <td>9</td>
                                                <td>3</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">2 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img src="img/clubs-logos/bra.png" alt="Brazil"><span>Brazil</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>24</td>
                                                <td>7</td>
                                                <td>7</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">3 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img src="img/clubs-logos/arg.png" alt="Argentina"><span>Argentina</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>22</td>
                                                <td>9</td>
                                                <td>7</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">4<i class="fa fa-caret-down" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img src="img/clubs-logos/japan.png" alt="Japan"><span>Japan</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>20</td>
                                                <td>10</td>
                                                <td>8</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">5  <i class="fa fa-caret-up" aria-hidden="true"></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img src="img/clubs-logos/sen.png" alt="Senegal"><span>Senegal</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>19</td>
                                                <td>7</td>
                                                <td>12</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">6<i class="fa fa-caret-down" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img src="img/clubs-logos/pol.png" alt="Poland"><span>Poland</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>18</td>
                                                <td>8</td>
                                                <td>12</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">7<i class="fa fa-caret-down" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img  src="img/clubs-logos/rusia.png" alt="Russia"><span>Russia</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>18</td>
                                                <td>6</td>
                                                <td>14</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">8<i class="fa fa-caret-up" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                   <a href="single-team.html">
                                                        <img src="img/clubs-logos/irn.png" alt="Iran"><span>Iran</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>12</td>
                                                <td>11</td>
                                                <td>15</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">9 <i class="fa fa-circle" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/esp.png" alt="Spain"><span>Spain</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>26</td>
                                                <td>9</td>
                                                <td>3</td>
                                            </tr>

                                            <tr>
                                                <td class="text-left number">10<i class="fa fa-circle" aria-hidden="true"></i></td>
                                                <td class="text-left">
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/fra.png" alt="France">
                                                        <span>France</span>
                                                    </a>
                                                </td>
                                                <td>38</td>
                                                <td>24</td>
                                                <td>7</td>
                                                <td>7</td>
                                            </tr>

                                          </tbody>
                                    </table>
                                     <a href="table-point.html" class="btn-iw full no-margin">View Full Table</a>
                                </div>
                                <!-- End Point Table -->

                                <!-- Video presentation -->
                                <div class="panel-box">
                                    <div class="titles no-margin">
                                        <h4>Presentation</h4>
                                    </div>
                                    <!-- Locations Video -->
                                    <div class="row">
                                        <iframe src="https://www.youtube.com/embed/AfOlAUd7u4o" class="video"></iframe>
                                        <div class="info-panel">
                                            <h4>Rio de Janeiro</h4>
                                            <p>Lorem ipsum dolor sit amet, sit amet, consectetur adipisicing elit, elit, incididunt ut labore et dolore magna aliqua sit amet, consectetur adipisicing elit,</p>
                                        </div>
                                    </div>
                                    <!-- End Locations Video -->
                                </div>
                                <!-- End Video presentation-->
                            </div>

                             <!-- Section Area - Content Central -->
                             <div class="col-lg-8">
                                <section class="content-info">

                                    <div class="container">
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <table class="table-striped table-responsive table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Team A</th>
                                                            <th class="text-center">VS</th>
                                                            <th>Team B</th>
                                                            <th>Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <img src="img/clubs-logos/colombia.png" alt="icon">
                                                                <strong>Colombia</strong><br>
                                                                <small class="meta-text">GROUP H.</small>
                                                            </td>
                                                            <td class="text-center">Vs</td>
                                                            <td>
                                                                <img src="img/clubs-logos/japan.png" alt="icon1">
                                                                <strong>Japan</strong><br>
                                                                <small class="meta-text">GROUP H.</small>
                                                            </td>
                                                            <td>
                                                                Jun 19,  07:00<br>
                                                                <small class="meta-text">Mordovia Arena,Saransk</small>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <img src="img/clubs-logos/pol.png" alt="icon1">
                                                                <strong>Poland</strong><br>
                                                                <small class="meta-text">GROUP H.</small>
                                                            </td>
                                                            <td class="text-center">Vs</td>
                                                            <td>
                                                                <img src="img/clubs-logos/colombia.png" alt="icon">
                                                                <strong>Colombia</strong><br>
                                                                <small class="meta-text">GROUP H.</small>
                                                            </td>
                                                            <td>
                                                                Jun 24,  13:00<br>
                                                                <small class="meta-text">Kazan Arena,Kazan</small>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <img src="img/clubs-logos/sen.png" alt="icon1">
                                                                <strong>Senegal</strong><br>
                                                                <small class="meta-text">GROUP H.</small>
                                                            </td>
                                                            <td class="text-center">Vs</td>
                                                            <td>
                                                                <img src="img/clubs-logos/colombia.png" alt="icon">
                                                                <strong>Colombia</strong><br>
                                                                <small class="meta-text">GROUP H.</small>
                                                            </td>
                                                            <td>
                                                                Jun 28, 09:00<br>
                                                                <small class="meta-text">Samara Arena,Samara</small>
                                                            </td>
                                                        </tr>
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!-- End Section Area -  Content Central -->
                        </div>
                    </div>
                </div>
                <!-- End White Section -->

                
            </section>
            <!-- End Section Area -  Content Central -->

            <!-- footer-->
            {% include 'footer.html'%}
            <!-- End footer-->
        </div>

        {% endblock %}
        <!-- End layout-->




